div{
    background-color: rgb(167, 167, 231);
    height: 100px;
    /* div takes everything*/
    
}
span{
    background-color: rgb(211, 120, 120);
    height: 200px;
    /* span takes only whatever is required*/
}